<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <% results.forEach( function(val){ %>
        <input type="button" name= '<%= val._index %>'' value = '<%=val.title %>' >
    <% }) %> 
  </body>
</html>
