<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 


    
    <script text="javascript">
    var fileList = JSON.parse('<%-JSON.stringify(results)%>');
    console.log( fileList );
    </script>
    <% results.forEach( function(val){ %>
        <input type="button" name = '<%= val._index %>' value = '<%= val.title %>' >
        <br>
    <% }) %>
  </body>
</html>