<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    body {
      margin: 0;
      padding: 5px;
    }


    div {
      text-align: center;
      max-width:100%; 
       background-color:#123123;
      border: 1px solid red;
      height: inherit;
    }

    img {
      max-width: 100%;
      height: 100%;
      margin: -2px;
    }
  </style>
</head>

<body>

    <div id='screen1'>
      <img id="id1">
      <img id="id2">
    </div>





  <script text="javascript">

    var screen1123 = document.getElementById('screen1');
    screen1123.style.height = (window.innerHeight - 15 )+ 'px';

    var _img = document.getElementById('id1');
    var _img2 = document.getElementById('id2');
    var fileList = JSON.parse('<%-JSON.stringify(fileList)%>');
    console.log( fileList );
    window.addEventListener('click', nextPage, false);
    window.addEventListener('keydown', function (e) {
      console.log(e.key);
      if (e.key == 'f') {
        toggleDoublePage();
      }
      if (e.key == 'ArrowRight'){
        nextPage();
      }
      if (e.key == 'ArrowLeft'){
        prevPage();
      }

    });

    var currentPage = 0;
    var doublePage = false;

    function cascadeLoad(index) {
      if (index >= fileList.length)
        return;

      var newImage = new Image();
      newImage.onload = function () {
        if (index === currentPage) {
          _img.src = 'symComic/' + fileList[index];
          if( doublePage === true )
            _img2.src = 'symComic/' + fileList[index];
        }
        cascadeLoad(index + 1);
      }

      var reg = /(.*?)\.(jpg|jpeg|png|gif|bmp)$/;
      if (fileList[index].match(reg)) {
        newImage.src = 'symComic/' + fileList[index];
      }
      else {
        fileList.splice(index, 1)
        cascadeLoad(index);
      }
    }

    function nextPage() {
      if (doublePage === false) {
        currentPage++;
        _img.src = 'symComic/' + fileList[currentPage];
      }
      else {
        currentPage += 2;
        _img.src = 'symComic/' + fileList[currentPage];
        _img2.src = 'symComic/' + fileList[currentPage + 1];
      }
    }

    function prevPage() {
      if (doublePage === false) {
        currentPage--;
        if( currentPage < 0){
          currentPage = 0;
          return;
        }

        _img.src = 'symComic/' + fileList[currentPage];
      }
      else {
        currentPage -= 2;
        if( currentPage < 0){
          currentPage = 0;
          return;
        }
        _img.src = 'symComic/' + fileList[currentPage];
        _img2.src = 'symComic/' + fileList[currentPage + 1];
      }
    }

    function toggleDoublePage() {
      
      doublePage = !doublePage
      if (doublePage === false) {
        _img.src = 'symComic/' + fileList[currentPage];
        _img2.src = '';
      }
      else {
        _img.src = 'symComic/' + fileList[currentPage];
        _img2.src = 'symComic/' + fileList[currentPage + 1];
      }
    }
    cascadeLoad(0);
  </script>
</body>

</html>