<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>



<body style="background-color:black;   overflow-y: hidden;">
   <div style="width: 100%;">
    <img src="pics/helltaker01.webp" style="width : 9.9%;"><img src="pics/helltaker02.webp" style="width : 9.9%;"><img
      src="pics/helltaker03.webp" style="width : 9.9%;"><img src="pics/helltaker04.webp" style="width : 9.9%;"><img
      src="pics/helltaker05.webp" style="width : 9.9%;"><img src="pics/helltaker06.webp" style="width : 9.9%;"><img
      src="pics/helltaker07.webp" style="width : 9.9%;"><img src="pics/helltaker08.webp" style="width : 9.9%;"><img
      src="pics/helltaker09.webp" style="width : 9.9%; position : absolute"><img src="pics/helltaker09.webp" style="width : 9.9%;position : absolute;transform : translateX(50%)"><img
      src="pics/helltaker09.webp" style="width : 9.9%;position : absolute; transform : translateX(100%)">
  </div>
  <div style="width: 100%;">
    <img src="pics/helltaker01.webp" style="width : 9.9%;"><img src="pics/helltaker02.webp" style="width : 9.9%;"><img
      src="pics/helltaker03.webp" style="width : 9.9%;"><img src="pics/helltaker04.webp" style="width : 9.9%;"><img
      src="pics/helltaker05.webp" style="width : 9.9%;"><img src="pics/helltaker06.webp" style="width : 9.9%;"><img
      src="pics/helltaker07.webp" style="width : 9.9%;"><img src="pics/helltaker08.webp" style="width : 9.9%;"><img
      src="pics/helltaker09.webp" style="width : 9.9%; position : absolute"><img src="pics/helltaker09.webp" style="width : 9.9%;position : absolute;transform : translateX(50%)"><img
      src="pics/helltaker09.webp" style="width : 9.9%;position : absolute; transform : translateX(100%)">
  </div>
  <div style="width: 100%;">
    <img src="pics/helltaker01.webp" style="width : 9.9%;"><img src="pics/helltaker02.webp" style="width : 9.9%;"><img
      src="pics/helltaker03.webp" style="width : 9.9%;"><img src="pics/helltaker04.webp" style="width : 9.9%;"><img
      src="pics/helltaker05.webp" style="width : 9.9%;"><img src="pics/helltaker06.webp" style="width : 9.9%;"><img
      src="pics/helltaker07.webp" style="width : 9.9%;"><img src="pics/helltaker08.webp" style="width : 9.9%;"><img
      src="pics/helltaker09.webp" style="width : 9.9%; position : absolute"><img src="pics/helltaker09.webp" style="width : 9.9%;position : absolute;transform : translateX(50%)"><img
      src="pics/helltaker09.webp" style="width : 9.9%;position : absolute; transform : translateX(100%)">
  </div>
  <div style="width: 100%;">
    <img src="pics/helltaker01.webp" style="width : 9.9%;"><img src="pics/helltaker02.webp" style="width : 9.9%;"><img
      src="pics/helltaker03.webp" style="width : 9.9%;"><img src="pics/helltaker04.webp" style="width : 9.9%;"><img
      src="pics/helltaker05.webp" style="width : 9.9%;"><img src="pics/helltaker06.webp" style="width : 9.9%;"><img
      src="pics/helltaker07.webp" style="width : 9.9%;"><img src="pics/helltaker08.webp" style="width : 9.9%;"><img
      src="pics/helltaker09.webp" style="width : 9.9%; position : absolute"><img src="pics/helltaker09.webp" style="width : 9.9%;position : absolute;transform : translateX(50%)"><img
      src="pics/helltaker09.webp" style="width : 9.9%;position : absolute; transform : translateX(100%)">
  </div>
  <div style="width: 100%;">
    <img src="pics/helltaker01.webp" style="width : 9.9%;"><img src="pics/helltaker02.webp" style="width : 9.9%;"><img
      src="pics/helltaker03.webp" style="width : 9.9%;"><img src="pics/helltaker04.webp" style="width : 9.9%;"><img
      src="pics/helltaker05.webp" style="width : 9.9%;"><img src="pics/helltaker06.webp" style="width : 9.9%;"><img
      src="pics/helltaker07.webp" style="width : 9.9%;"><img src="pics/helltaker08.webp" style="width : 9.9%;"><img
      src="pics/helltaker09.webp" style="width : 9.9%; position : absolute"><img src="pics/helltaker09.webp" style="width : 9.9%;position : absolute;transform : translateX(50%)"><img
      src="pics/helltaker09.webp" style="width : 9.9%;position : absolute; transform : translateX(100%)">
  </div>


  <audio controls autoplay >
    <source src="bgm/helltaker.mp3">
  </audio>
</body>

</html>