<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="background-color:black;   overflow-y: hidden;">
  <script text="javascript">
    var imgArray = [
      'pics/helltaker01.webp',
      'pics/helltaker02.webp',
      'pics/helltaker03.webp',
      'pics/helltaker04.webp',
      'pics/helltaker05.webp',
      'pics/helltaker06.webp',
      'pics/helltaker07.webp',
      'pics/helltaker08.webp',
      'pics/helltaker09.webp',
      'pics/helltaker09.webp',
      'pics/helltaker09.webp',
    ];


    function initImage() {
      for (var i = 0; i < 5; i++) {
        var div = document.createElement("div");
        div.style.width = "100%";
        document.body.appendChild(div);

        // imgArray.forEach(element => {

        // });

        var j = 0;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;



        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = "9%";
        img.style.transform = "translateX(-150%)";
        div.appendChild(img);
        j++;


      }
    }
    var index = 0;
    var newImage = new Image();
    newImage.onload = function () {
      index += 1;
      if ( index >= 9 )
        initImage();
      else
        newImage.src = imgArray[index];
    }

    newImage.src = imgArray[index]

  </script>

  <!-- <script text="javascript">
    var fileList = JSON.parse('<%-JSON.stringify(results)%>');
    console.log( fileList );
    </script>
    <% results.forEach( function(val){ %>
        <input type="button" name = '<%= val._index %>' value = '<%= val.title %>' >
        <br>
    <% }) %> -->
</body>

</html>