<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="background-color:#4F3234;   overflow-y: hidden; padding: 0px;">
  <div id="main" style="text-align: center;"></div>
  <script text="javascript">



    function sendPost(action, params) {
      var form = document.createElement('form');
      form.setAttribute('method', 'post');
      form.setAttribute('action', action);

      for (var key in params) {
        var hiddenField = document.createElement('input');
        hiddenField.setAttribute('type', 'hidden');
        hiddenField.setAttribute('name', key);
        hiddenField.setAttribute('value', params[key]);
        form.appendChild(hiddenField);
      }
      document.body.appendChild(form  );
      form.submit();

    }


    var inputText = "";
    window.addEventListener('keydown', function (e) {
      inputText += e.key;
      if( inputText.length >=8 ){
        sendPost( '/helltaker', { input : inputText});
        inputText = "";
      }
    });


    var imgArray = [
      'pics/helltaker01.webp',
      'pics/helltaker02.webp',
      'pics/helltaker03.webp',
      'pics/helltaker04.webp',
      'pics/helltaker05.webp',
      'pics/helltaker06.webp',
      'pics/helltaker07.webp',
      'pics/helltaker08.webp',
      'pics/helltaker09.webp',
      'pics/helltaker09.webp',
      'pics/helltaker09.webp',
    ];


    function initImage() {
      for (var i = 0; i < 5; i++) {
        var div = document.getElementById("main");
        div.style.width = "100%";

        // imgArray.forEach(element => {

        // });

        var size = "9.9%"
        var j = 0;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        img.style.position = "absolute"
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        img.style.transform = "translateX(-50%)";
        div.appendChild(img);
        j++;


      }

      var myaudio = new Audio('bgm/helltaker.mp3');
      }
    var index = 0;
    var newImage = new Image();
    newImage.onload = function () {
      index += 1;
      if (index >= 9)
        initImage();
      else
        newImage.src = imgArray[index];
    }

    newImage.src = imgArray[index]

  </script>
  <footer style="zoom: 1; position: fixed; left: 0; bottom: 0; width: 100%;  text-align: center;">
    <audio autoplay style="float:inline-end">
      <source src="bgm/helltaker.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
  </footer>
</body>

</html>