<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />  
  <!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
</head>

<body style="background-color:#4F3234;   overflow-y: hidden; padding: 0px;">
  <div id="main" style="text-align: center;"></div>
  <script text="javascript">
    var imgArray = [
      'pics/helltaker01.webp',
      'pics/helltaker02.webp',
      'pics/helltaker03.webp',
      'pics/helltaker04.webp',
      'pics/helltaker05.webp',
      'pics/helltaker06.webp',
      'pics/helltaker07.webp',
      'pics/helltaker08.webp',
      'pics/helltaker09.webp',
      'pics/helltaker09.webp',
      'pics/helltaker09.webp',
    ];


    function initImage() {
      for (var i = 0; i < 5; i++) {
        var div = document.getElementById("main");
        div.style.width = "100%";
        var size = "9.9%"
        var j = 0;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        div.appendChild(img);
        j++;
        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        img.style.position = "absolute"
        div.appendChild(img);
        j++;

        var img = document.createElement("img");
        img.src = imgArray[j];
        img.style.width = size;
        img.style.transform = "translateX(-50%)";
        div.appendChild(img);
        j++;


      }

      var myaudio = new Audio('bgm/helltaker.mp3');
      }
    var index = 0;
    var newImage = new Image();
    newImage.onload = function () {
      index += 1;
      if (index >= 9)
        initImage();
      else
        newImage.src = imgArray[index];
    }

    newImage.src = imgArray[index]

  </script>
  <footer style="zoom: 1; position: fixed; left: 0; bottom: 0; width: 100%;  text-align: center;">
    <audio autoplay style="float:inline-end">
      <source src="bgm/helltaker.mp3" type="audio/mpeg" />
    </audio>
  </footer>
</body>

</html>