<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <img src = 'symComic/Doraemong_36 (2).jpg'/>
  </body>
</html>
