<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <li><a href="/">Home</a></li>
    <li><a href="acamibo">acamibo</a></li>
    <li><a href="helltaker">helltaker</a></li>
    <li><a href="pcrun">pcrun</a></li>
    <li><a href="wasmEngine">wasmEngine</a></li>
  </body>
</html>
