<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <!-- <a href="index.ejs" class="btn btn-lg btn-primary btn-block">로그인</a> -->
  </body>
</html>
