<!DOCTYPE html>
<html>
    <title><%= title %></title>
<body>

<h1>My <%= title %> </h1>
  <%      if( ext === 'mp4' ){ %>
    <video id="player" width="100%" height="auto" controls>
    <source src="<%= title %>" type="video/mp4">
    </video>
  <%      } else { %>
    <embed src="<%= title %>"/>
  <%}%>
</body>
</html>