<!DOCTYPE HTML>
<html>
<meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no">
<title>Ninon ZZhang</title>

<style>
    * {
        margin: 0;
        padding: 0;
    }


    canvas {
        width : 100%;
        height : 100%;
        position: absolute;
    }
    html, body {
        width : 100%;
        height : 100%;
        margin : 0;
    }
    
</style>

<body>

<canvas id="canvas" width="1920" height="1080" ></canvas>


<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/render/spine-webgl.min.js"></script>
<script src="javascripts/render/shader.js"></script>
<script src="javascripts/render/sprite-webgl.js"></script>
<script src="javascripts/render/spineLoad.js"></script>
<script src="javascripts/render/font-webgl.js"></script>
<script src="javascripts/prcn/prcnMain.js"></script>

<script>
    
</script>

</body>


</html>