<!DOCTYPE HTML>
<html>
<meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no">
<title>Ninon ZZhang</title>

<style>
    * {
        margin: 0;
        padding: 0;
    }


    canvas {
        position: absolute;
    }
</style>

<body>
<canvas id="canvas" width="1920" height="1080"></canvas>
<script src="javascripts/spine-webgl.min.js"></script>
<script src="javascripts/shader.js"></script>
<script src="javascripts/sprite-webgl.js"></script>
<script src="javascripts/spineLoad.js"></script>
<script src="javascripts/font-webgl.js"></script>
<script src="javascripts/prcn_runGameScript.js"></script>

<script>

    (function () {
        init();
    })();

</script>
</body>

</html>