<!DOCTYPE HTML>
<html>
<meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no">
<title>Ninon ZZhang</title>
<script src="javascripts/spine-webgl.min.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }


</style>

<body>
<canvas id="canvas" width="0" height="0"></canvas>
<script src="javascripts/prcn_runGameScript.js"></script>
<script>

    (function () {
        init();
    })();

</script>
</body>

</html>