<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <div style="float:left; margin-right: 30px;">
        <canvas id="canvas" oncontextmenu="event.preventDefault()" 
        style  = "padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; display: block; align-self: auto;">
    </canvas>
    </div>

    
    <script type='text/javascript'>
        var canv = document.getElementById('canvas');
        var Module = {
            canvas: canv
        };
        Module['locateFile'] = function(path, prefix) {
            if (path.endsWith(".data")) return "wasm/" + path;

        return prefix + path;
        }
    </script>
    <script src="wasm/index.js">


    </script>
    <script type='text/javascript'>
        // console.log(__mouseLeftDown);
        // console.log(__mouseLeftUp);
        canv.addEventListener('mousedown', __mouseLeftDown, false);
        canv.addEventListener('mouseup', __mouseLeftUp, false);

        canv.addEventListener('touchend', __mouseLeftUp, false);
        window.addEventListener('keydown', function (e) {

           __keyboardDown( e.keyCode );
        });

        window.addEventListener('keyup', function (e) {
            if( e.key == 'f'){
                return canv.webkitRequestFullScreen();
            }
           __keyboardUp(e.keyCode );
        });

        canv.addEventListener('mousemove', function(e){
            //console.log(e.movementX, e.movementY);
            __mouseMove(e.movementX, e.movementY);
        })
    </script>




    TODO Works<br>
    1. SceneGraph 기반으로 자식 구조 설계<br>
    2. Full screen, window 시스템 <br>
    3. Render pipeline 조정 ( wasm은 webgl 기반인거 같은데 어디까지 될까... )<br>
</body>

</html>