@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");



body {
  background: #ededed;
  font-family: 'Open Sans', sans-serif;
}
.center {
  position: absolute;
  display: inline-block;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}


/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-btn {
  position: relative;
  width: 130px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  background: #5c9cd8;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 100px;
  padding: 0 44px 0 4px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  background: #5c9cd8;
  border-radius: 9px;
  cursor : pointer;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 22px;
  font-weight: 500;
  color: #b5b5b5;
  line-height: 35px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}



header {
  border : 1px solid #999;
  background-color: #999;
  width : 100%;
  top : 0;
  height : 50px;
  position: fixed;
  z-index: 6;
}



body {
  padding-top:  50px;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 388px;

}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card {
  display: inline-block;
  width: 276px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}
.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card__image-container {
  background-color: rgba(1, 0, 0, 0.7);
  text-align: center;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}
.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card__name_eng {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: 1em 0;
  width: 100%;
}
.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}
.card__stats th {
  width: 40%;
  padding: 0.25em 0.5em 0;
}
.card__stats td {
  width: 70%;
  padding: 0.25em 0.5em 0;
  align-content: center;
}
.card__abilities {
  display: flex;
  justify-content: space-between;
}
.card__ability {
  margin-top: 1em;
  flex: 1 0;
}






.card--orange {
  background: linear-gradient(120deg, #f19901 0%, #b81200 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}
.card--orange .card__type {
  background-color: #f19901;
}

.card--brown {
  background: linear-gradient(90deg, #d29a69 34%, #47201a 83%);
}
.card--brown .card__type {
  background-color: #d29a69;
}

.card--pink {
  background: linear-gradient(0deg, #f092AE 10%, #ac2453 100%);
}
.card--pink .card__type {
  background-color: #f092AE;
}

.card--red {
  background: linear-gradient(110deg, #ff8080 0%, #aa0107 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--red .card__type {
  background-color: #ff8080;
}

.card--green {
  background: linear-gradient(110deg, #aab559 0%, #4a6836 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--green .card__type {
  background-color: #aab559;
}

.card--yellow {
  background: linear-gradient(110deg, #fabe00 0%, #df3e00 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--yellow .card__type {
  background-color: #fabe00;
}

.card--blue {
  background: linear-gradient(110deg, #a0d8ef 0%, #00599d 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--blue .card__type {
  background-color: #a0d8ef;
}

.card--purple {
  background: linear-gradient(110deg, #e99bc1 0%, #802862 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--purple .card__type {
  background-color: #e99bc1;
}

.card--lightgreen {
  background: linear-gradient(110deg, #9dc816 0%, #1e6b05 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--lightgreen .card__type {
  background-color: #9dc816;
}

.card--violet {
  background: linear-gradient(110deg, #c5a4cc 0%, #401d5f 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--violet .card__type {
  background-color: #c5a4cc;
}

.card--yellowgreen {
  background: linear-gradient(110deg, #f0e900 0%, #509504 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--yellowgreen .card__type {
  background-color: #f0e900;
}

.card--cyan {
  background: linear-gradient(110deg, #96d0b7 0%, #00320f 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--cyan .card__type {
  background-color: #96d0b7;
}

.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  transform : scale(1.1);
}